*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: var(--color-beige-100);
    margin: 0;
    line-height: normal;
    font-family: var(--font-rokkitt);
}

/*NAV*/

nav{
    height: 90px;
    background-color: var(--color-beige-100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav .logo img{
    width: 60px;  
}

nav .logo p{
    font-size: 15px;
    font-weight: 600;
    font-family: var(--font-advent-pro);
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    font-family: var(--font-advent-pro);
    font-size: 17px;
}

#login{
    margin-left: 120px;
}

#registrarse{
    background-color: var(--color-orange-100);
    padding: var( --padding-xxs);
    border-radius: var( --br-xs);
}

/*PORTADA*/

.portada{
    height: 50rem;
}

.encuentra-div,
.tu-mascota-div {
    font-size: var(--font-size-titulo-principal);
    font-family: var(--font-bodoni-moda); 
}

.encuentra-div {
    position: absolute;
    top: 40%;
    left: 8%;
    z-index: 1;
}

.tu-mascota-div {
    position: absolute;
    top: 70%;
    left: 45%;
    z-index: 1;
} 

.rectangle-icon,
.rectangle-icon1,
.rectangle-icon2{
    width: 20rem;
}

.rectangle-icon{
    position: absolute;
    top:20%;
    left: 45%;
}

.rectangle-icon1{
    position: absolute;
    top:55%;
    left: 15%;  
}

.rectangle-icon2{
    position: absolute;
    top: 85%;
    left: 56%;
}

.flecha-hacia-abajo{
    position: absolute;
    top: 80%;
    left: 5%;
}

/*PODEMOS AYUDARTE*/

.contenedor-ayuda{
    display: flex;
    justify-content: space-around;
    padding: var(--padding-md);
    align-items: center;
    background-color: #fff;
    margin-top: 5rem;
}

.contenedor-textos-ayuda{
    width: 30rem;
}

.contenedor-textos-ayuda h2{
    font-family: var(--font-bodoni-moda); 
    margin-bottom: 2rem;
    font-size: var(--font-size-titulos-secundarios);
}

.contenedor-textos-ayuda p{
    font-size: var(--font-size-base);
}

.carousel{
    width: 20rem;
}

.carousel-items{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.carousel-item{
    min-width: 300px;
    max-width: 300px;
    height: 300px;
}

.carousel-item img{
    width: 100%;
    height: 100%;
}

/*QUE HACEMOS*/

.contenedor-nosotros{
    display: flex;
    padding: var(--padding-md);
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 40rem;
}

.contenedor-textos-nosotros{
    width: 30rem;
    margin-left: 2rem;
}

.contenedor-textos-nosotros h2{
    font-family: var(--font-bodoni-moda); 
    margin-bottom: 2rem;
    font-size: var(--font-size-titulos-secundarios);
}

.contenedor-textos-nosotros p{
    margin-bottom: 5rem;
    font-size: var(--font-size-base);
}

.contenedor-textos-nosotros a{
    background-color: var(--color-teal);
    padding: 0.7rem;
    text-decoration: none;
    color: var(--color-white);
    border-radius: var( --br-xs);
    font-family: var(--font-advent-pro);
}

.boton-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-nosotros img{
    width: 300px;
    height: 350px;
    object-fit: contain;
}

.contenedor-nosotros img:first-child{
    position: relative;
    top: -110px;
}

.contenedor-nosotros .perro{
    position: relative;
    top: 90px;  
}







/* footer{

} */
.frame-div10,
.frame-div11,
.frame-div12,
.frame-div9 {
    position: absolute;
    display: flex;
    text-align: left;
    font-family: var(--font-reem-kufi-ink);
}
.frame-div10,
  .frame-div11,
  .frame-div12 {
    top: 5205.56px;
    left: 445.28px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-0);
    font-size: var(--font-size-xl);
  }
  .frame-div11,
  .frame-div12 {
    top: 5205.49px;
    left: 847.31px;
  }
  .frame-div12 {
    left: 1217.31px;
  }


